
/*
Theme Name: My Life In Pink
Author: Code Swop
Author URI: http://www.codeswop.com/
Version: 1.0
Text Domain: mlip
*/

@font-face {
    font-family: 'korolevheavy';
    src: url('fonts/korolev_heavy-webfont.eot');
    src: url('fonts/korolev_heavy-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/korolev_heavy-webfont.woff2') format('woff2'),
         url('fonts/korolev_heavy-webfont.woff') format('woff'),
         url('fonts/korolev_heavy-webfont.ttf') format('truetype'),
         url('fonts/korolev_heavy-webfont.svg#korolevheavy') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
  font-family: 'Baskerville-Bold';
  src: url('fonts/Baskerville-Bold.eot?#iefix') format('embedded-opentype'),  url('fonts/Baskerville-Bold.woff') format('woff'), url('fonts/Baskerville-Bold.ttf')  format('truetype'), url('fonts/Baskerville-Bold.svg#Baskerville-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Korolev-Bold';
  src: url('fonts/Korolev-Bold.eot?#iefix') format('embedded-opentype'),  url('fonts/Korolev-Bold.otf')  format('opentype'),
	     url('fonts/Korolev-Bold.woff') format('woff'), url('fonts/Korolev-Bold.ttf')  format('truetype'), url('fonts/Korolev-Bold.svg#Korolev-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Korolev-BoldItalic';
  src: url('fonts/Korolev-BoldItalic.eot?#iefix') format('embedded-opentype'),  url('fonts/Korolev-BoldItalic.otf')  format('opentype'),
	     url('fonts/Korolev-BoldItalic.woff') format('woff'), url('fonts/Korolev-BoldItalic.ttf')  format('truetype'), url('fonts/Korolev-BoldItalic.svg#Korolev-BoldItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Korolev-HeavyItalic';
  src: url('fonts/Korolev-HeavyItalic.eot?#iefix') format('embedded-opentype'),  url('fonts/Korolev-HeavyItalic.otf')  format('opentype'),
	     url('fonts/Korolev-HeavyItalic.woff') format('woff'), url('fonts/Korolev-HeavyItalic.ttf')  format('truetype'), url('fonts/Korolev-HeavyItalic.svg#Korolev-HeavyItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Korolev-Light';
  src: url('fonts/Korolev-Light.eot?#iefix') format('embedded-opentype'),  url('fonts/Korolev-Light.otf')  format('opentype'),
	     url('fonts/Korolev-Light.woff') format('woff'), url('fonts/Korolev-Light.ttf')  format('truetype'), url('fonts/Korolev-Light.svg#Korolev-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Korolev-LightItalic';
  src: url('fonts/Korolev-LightItalic.eot?#iefix') format('embedded-opentype'),  url('fonts/Korolev-LightItalic.otf')  format('opentype'),
	     url('fonts/Korolev-LightItalic.woff') format('woff'), url('fonts/Korolev-LightItalic.ttf')  format('truetype'), url('fonts/Korolev-LightItalic.svg#Korolev-LightItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Korolev-Medium';
  src: url('fonts/Korolev-Medium.eot?#iefix') format('embedded-opentype'),  url('fonts/Korolev-Medium.otf')  format('opentype'),
	     url('fonts/Korolev-Medium.woff') format('woff'), url('fonts/Korolev-Medium.ttf')  format('truetype'), url('fonts/Korolev-Medium.svg#Korolev-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Korolev-MediumItalic';
  src: url('fonts/Korolev-MediumItalic.eot?#iefix') format('embedded-opentype'),  url('fonts/Korolev-MediumItalic.otf')  format('opentype'),
	     url('fonts/Korolev-MediumItalic.woff') format('woff'), url('fonts/Korolev-MediumItalic.ttf')  format('truetype'), url('fonts/Korolev-MediumItalic.svg#Korolev-MediumItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Korolev-Thin';
  src: url('fonts/Korolev-Thin.eot?#iefix') format('embedded-opentype'),  url('fonts/Korolev-Thin.otf')  format('opentype'),
	     url('fonts/Korolev-Thin.woff') format('woff'), url('fonts/Korolev-Thin.ttf')  format('truetype'), url('fonts/Korolev-Thin.svg#Korolev-Thin') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'LibreBaskerville-Bold';
  src: url('fonts/LibreBaskerville-Bold.eot?#iefix') format('embedded-opentype'),  url('fonts/LibreBaskerville-Bold.otf')  format('opentype'),
	     url('fonts/LibreBaskerville-Bold.woff') format('woff'), url('fonts/LibreBaskerville-Bold.ttf')  format('truetype'), url('fonts/LibreBaskerville-Bold.svg#LibreBaskerville-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'LibreBaskerville-Italic';
  src: url('fonts/LibreBaskerville-Italic.eot?#iefix') format('embedded-opentype'),  url('fonts/LibreBaskerville-Italic.otf')  format('opentype'),
	     url('fonts/LibreBaskerville-Italic.woff') format('woff'), url('fonts/LibreBaskerville-Italic.ttf')  format('truetype'), url('fonts/LibreBaskerville-Italic.svg#LibreBaskerville-Italic') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'LibreBaskerville-Regular';
  src: url('fonts/LibreBaskerville-Regular.eot?#iefix') format('embedded-opentype'),  url('fonts/LibreBaskerville-Regular.otf')  format('opentype'),
	     url('fonts/LibreBaskerville-Regular.woff') format('woff'), url('fonts/LibreBaskerville-Regular.ttf')  format('truetype'), url('fonts/LibreBaskerville-Regular.svg#LibreBaskerville-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}



/* GENERAL */
h1, h2, h3, h4, h5, h6 {
    color: #000000;
    display: block;
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}
body {
    background-color: #ffffff;
    color: #333333;
    font-family: 'Libre Baskerville', serif;
    font-size: 14px;
}
.container {
    max-width: 1000px;
}
.container-fluid {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
a {
    color: #000000;
    outline: 0;
    text-decoration: none;
}
a:active, a:focus, a:hover,
a:active h2, a:focus h2, a:hover h2 {
    color: #f226aa;
    outline: 0;
    text-decoration: none;
}
hr {
    border-color: #c1c1c1;
}
.btn.btn-default:active,
.btn.btn-default:focus,
.btn.btn-default:hover {
    background-color: #363435;
    color: #ffffff;
}
/* GENERAL */

/* PLUGINS */

/*LIGHTBOX*/
#slb_viewer_wrap .slb_theme_slb_default .slb_data_desc {
    display: block;
    margin-top: 0 !important;
}
#slb_viewer_wrap .slb_theme_slb_default .slb_group_status {
    float: right !important;
    font-family: 'Lato', sans-serif !important;
    font-size: 14px !important;
}
.slb_data_title, .slb_template_tag_item_title {
    font-family: 'Lato', sans-serif !important;
    font-size: 14px !important;
    line-height: none !important;
}
/*LIGHTBOX*/

/* CONTACT FORM 7 */
.content-bg img.wpcf7-captchac {
    background: none;
    border: none;
    display: inline;
    margin: 0;
    padding: 0;
}
.wpcf7 form.wpcf7-form .form-group span.wpcf7-form-control-wrap textarea.form-control {
    height: 59px;
    max-height: 59px;
    min-height: 59px;
}
/* CONTACT FORM 7 */

/* PLUGINS */

/* HEADER */
header {
    
}

/* HEADER */

/* LOGO */
header .logo-wrapper {
    margin: 35px 0 25px 0;
    text-align: center;
}
header .logo-wrapper h1 {
    font-family: 'korolevheavy' !important;
    font-size: 40px;
    font-weight: bold;
}
/* LOGO */

/* NAVIGATION */
header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
header nav ul li {
    display: inline-block;
    margin: 10px 0 0 0;
    position: relative;
}
header nav ul li a {
    display: block;
    font-family: 'Lato', sans-serif;
    padding: 2px 15px 18px 15px;
    text-transform: uppercase;
}
/* NAVIGATION */

/* NAVIGATION DROPDOWN */
header nav ul li.menu-item-has-children ul.sub-menu {
    background-color: #ffffff;
    display: none;
    left: 0;
    min-width: 250px;
    opacity: 1;
    position: absolute;
    top: 40px;
    z-index: 9;
}
header nav ul li.menu-item-has-children ul.sub-menu li {
    display: block;
    margin: 0;
}
header nav ul li.menu-item-has-children ul.sub-menu li a {
    padding: 10px 20px;
}
header nav ul li.menu-item-has-children ul.sub-menu li a:hover {
    background-color: #ececec;
}
/* NAVIGATION DROPDOWN */

/* SOCIALS */
header .socials ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: right;
}
header .socials ul li {
    display: inline-block;
    margin: 10px 5px;
    position: relative;
}
header .socials ul li a {
    display: block;
    padding: 5px;
}
header .socials ul li a i.fa {
    font-size: 16px;
}
/* SOCIALS */

/* HEADER SEARCH */
header .socials .search-form {
    position: absolute;
    right: -5px;
    top: -10px;
}
span.screen-reader-text {
    display: none;
}
header .socials .search-field {
    background-color: transparent;
    background-image: url(img/search-icon-black.png);
    background-position: right 10px center;
    background-repeat: no-repeat;
    background-size: 17px 15px;
    border: none;
    cursor: pointer;
    font-family: 'Lato', sans-serif;
    height: 30px;
    margin: 0 0;
    padding: 0 10px 0 20px;
    position: relative;
    -webkit-transition: width 400ms ease, background 400ms ease;
    transition: width 400ms ease, background 400ms ease;
    width: 0;
}
header .socials .search-field:hover {
    background-image: url(img/search-icon-pink.png);
}
header .socials .search-field:focus {
    background-color: #f226aa;
    background-image: url(img/search-icon-white.png);
    border: none;
    cursor: text;
    outline: 0;
    padding: 0 10px 0 10px;
    width: 200px;
}
.search-form
.search-submit {
    display:none;
}


/* SLIDER */
#slider {
    margin-bottom: 25px;
    position: relative;
    width: 100%;
}
#slider img {
    width: 100%;
}
.theme-default .nivo-directionNav a {
    background-image: url(img/arrows.png) !important;
    height: 100px !important;
    width: 51px !important;
    opacity: 1 !important;
}
.theme-default a.nivo-prevNav {
/*    left: -20px !important;*/
}
.theme-default a.nivo-nextNav {
    background-position: -60px 0 !important;
/*    right: -20px !important;*/
}
/* SLIDER */

/* TITLES */
.content-bg h1 {
    font-family: "Libre Baskerville",serif;
    font-size: 30px;
    margin: 0 0 15px;
    text-align: center;
}
.content-bg .title-bg-h1 {
    background-image: url(img/title-bg.png);
    background-position: left center;
    background-repeat: repeat-x;
    margin: 0 0 25px 0;
    text-align: center;
}
.content-bg .title-bg-h1 h1 {
    background-color: #ffffff;
    display: inline-block;
    font-size: 30px;
    padding: 0 15px;
    text-transform: uppercase;
}
.content-bg h2 {
    font-family: 'Libre Baskerville', serif;
    font-size: 25px;
    margin: 0 0 15px 0;
    text-align: center;
    text-transform: none;
}
.content-bg .a-single-post img {
    margin: 15px auto 10px;
}
.content-bg .a-single-post h2 {
    margin: 15px 0;
}
.content-bg .title-bg {
    background-color: #ffffff;
    background-image: url(img/sidebar-title-bg.png);
    background-position: center bottom;
    background-repeat: no-repeat;
    padding-bottom: 10px;
    position: relative;
}
.content-bg .title-bg h2 {
    background-color: #000000;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    letter-spacing: 2px;
    margin-bottom: 0;
    padding: 10px 0 12px;
    text-align: center;
    text-transform: uppercase;
}
/* TITLES */

/* CONTENT */
.content-bg {
    background-color: #ffffff;
    padding: 0 0 15px 0;
}
.content-bg .page-content img {
    margin-top: 25px;   
}
.content-bg a {
    color: #f226aa;
    outline: 0;
    text-decoration: none;
}
.content-bg .date-posted {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
}
.content-bg img {
    display: inline-block;
    height: auto;
    margin: 0 auto 10px;
    max-width: 100%;
}
.content-bg .date-posted {
    margin: 0 0 15px 0;
}
.content-bg p {
    text-align: justify;
    -moz-text-align-last: center;
}
.content-bg ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.content-bg ul li.single-post {
    border-bottom: 1px solid #c1c1c1;
    display: block;
    padding: 25px 0;
    position: relative;
}

.content-bg .sidebar-content {
    padding: 25px 0;
}
.content-bg .sidebar-content .subscription {
    padding: 20px 0 0 0;
    width: 100%;
}
.content-bg .sidebar-content .subscription .left,
.content-bg .sidebar-content .subscription .right {
    display: inline-block;
    width: 49.2%;
}
.content-bg .sidebar-content .subscription input.email {
    background-color: #cccccc;
    border: none;
    color: #000000;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    padding: 9px 0 9px 10px;
    width: 100%;
}
.content-bg .sidebar-content .subscription input.submit {
    background-color: #000000;
    border: none;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    padding: 9px 0;
    text-align: center;
    width: 100%;
}





.content-bg .sidebar-content .socials img {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
    margin-bottom: 5px;
}
.content-bg .sidebar-content .socials img:hover {
    filter: none; /* IE6-9 */
    -webkit-filter: grayscale(0%);
}
.content-bg .sidebar-content .socials p {
    font-family: 'Lato', sans-serif;
    font-size: 10px;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
}
.content-bg .sidebar-content a {
    color: #333333;
    font-family: 'Lato', sans-serif;
}
.content-bg .sidebar-content a:hover {
    color: #f226aa;
}

.content-bg .instagram-sidebar h2 {
    background-color: #000000;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    letter-spacing: 2px;
    margin-bottom: 0;
    padding: 10px 0 12px;
    text-align: center;
    text-transform: uppercase;
}
.content-bg .instagram-sidebar a {
    color: #333333;
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
}

.content-bg .instagram-sidebar p.snapchat-text {
    color: #333333;
    font-family: "Lato",sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
}

/*.content-bg .sidebar-content ul.socials {
    list-style: none;
    margin: 0;
    padding: 0;
}
.content-bg .sidebar-content ul.socials li {
    float: left;
    margin: 0 0 5px 0;
    text-align: center;
    width: 33%;
}
.content-bg .sidebar-content ul.socials li img {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");  Firefox 10+, Firefox on Android 
    filter: gray;  IE6-9 
    -webkit-filter: grayscale(100%);  Chrome 19+, Safari 6+, Safari 6+ iOS 
    margin-bottom: 5px;
}
.content-bg .sidebar-content ul.socials li img:hover {
    filter: none;  IE6-9 
    -webkit-filter: grayscale(0%);
}
.content-bg .sidebar-content ul.socials li p {
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.content-bg .sidebar-content a {
    color: #333333;
    font-family: 'Lato', sans-serif;
}
.content-bg .sidebar-content a:hover {
    color: #f226aa;
}*/
/* CONTENT */

/* STICK */
#myDiv {
    background-color: #ffffff;
}
.affix-top {
    position: relative;
}
.affix {
    top: 20px;
    width: 22.6%;
    z-index: 999;
}
.affix-bottom {
    position: absolute;
    width: 92%;
}
.affix .follow-sidebar {
    display: none;
}
/* STICK */

/* POST READ MORE */
.post-read-more {
    display: block;
    margin: 15px 0;
    text-align: center;
}
.post-read-more a {
    color: #333333;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.post-read-more a:hover {
    color: #f226aa;
}
/* POST READ MORE */

/* ARCHIVES */
.content-bg.archive img {
    margin-bottom: 30px;
}
/* ARCHIVES */

/* POSTS PAGINATION */
.posts-pagination {
    font-family: 'Lato', sans-serif;
    padding: 25px 0;
    text-align: center;
}
.posts-pagination span.current {
    border: 1px solid #000000;
    margin-left: 10px;
    padding: 10px;
}
.posts-pagination a.page-numbers,
.posts-pagination a.next,
.posts-pagination a.prev {
    color: #333333;
    margin-left: 10px;
    padding: 10px;
}
.posts-pagination a.next,
.posts-pagination a.prev {
    text-transform: uppercase;
}
.posts-pagination a.next:hover,
.posts-pagination a.prev:hover {
    color: #f226aa;
}
/* POSTS PAGINATION */

/* TAGS */
.tags {
    display: block;
    margin: 25px 0 0 0;
    text-align: center;
}
.tags h2 {
    color: #666666;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    margin-bottom: 25px;
    text-align: center;
    text-transform: uppercase;
}
.tags a {
    display: inline-block;
    font-size: 14px !important;
    padding: 0 5px 5px 5px;
}
/* TAGS */

/* POST SHARE */
.post-share {
    background-image: url(img/title-bg.png);
    background-position: left center;
    background-repeat: repeat-x;
    margin: 25px 0;
    text-align: center;
}
.post-share .share-icons {
    background-color: #ffffff;
    display: inline-block;
    padding: 15px 15px 0 15px;
}
.post-share .share-icons a img {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
    max-height: 75%;
    max-width: 75%;
}
.post-share .share-icons a:hover img {
    filter: none; /* IE6-9 */
    -webkit-filter: grayscale(0%);
}
/* POST SHARE */

/* COMMENTS */
.content-bg #comments {
    margin: 25px 0;
}
.content-bg #comments p {
    text-align: justify;
    -moz-text-align-last: left;
}
.content-bg #comments h1 {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
    text-align: left;
}
.content-bg #comments ol.comment-list {
    list-style-image: none;
    list-style-position: inside;
    margin: 25px 0 35px 0;
    padding: 0;
    text-align: right;
}
.content-bg #comments ol.comment-list li.comment {
    font-family: 'Lato', sans-serif;
    
}
.content-bg #comments ol.comment-list li.comment .comment-body {
    font-family: "Libre Baskerville",serif;
    padding-left: 80px;
    position: relative;
}
.content-bg #comments ol.comment-list li.comment .comment-author {
    text-align: left;
}
.content-bg #comments ol.comment-list li.comment .comment-author img.avatar {
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: -15px;
}
.content-bg #comments ol.comment-list li.comment .comment-author .fn {
    display: block;
    font-style: normal;
    font-weight: bold;
    margin: 0 0 25px 0;
}
.content-bg #comments ol.comment-list li.comment .comment-author .fn a {
    color: #333333;
}
.content-bg #comments ol.comment-list li.comment .comment-author span.says {
    display: none;
}
.content-bg #comments ol.comment-list li.comment .comment-meta {
    display: none;
}
.content-bg #comments ol.comment-list li.comment .comment-body .reply {
    margin: 25px 0;
    text-align: left;
}
.content-bg #comments ol.comment-list li.comment .comment-body .reply a.comment-reply-link {
    color: #333333;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

.content-bg #comments .comment-respond h3#reply-title {
    margin: 0 0 15px 0;
}
/* COMMENTS */

/* POPULAR POSTS */
.popular-posts {
    
}
.popular-posts h2 {
    font-size: 25px;
    margin-bottom: 25px;
    text-align: center;
}
.popular-posts ul.wpp-list {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
.popular-posts ul.wpp-list li {
    display: inline;
}
.popular-posts ul.wpp-list li a.wpp-post-title {
    display: none;
}
img.wpp-thumbnail {
    float: none;
}
/* POPULAR POSTS */

/* CONTACT */
.content-bg .mail {
    text-align: center;
}
.content-bg .mail p {
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
/* CONTACT */

/* FOOTER */
footer {
    padding: 25px 0 0 0;
}
footer .title-bg {
    background-image: url(img/title-bg.png);
    background-position: left center;
    background-repeat: repeat-x;
    margin: 25px 0;
    text-align: center;
}
footer .title-bg h2 {
    background-color: #ffffff;
    display: inline-block;
    font-size: 20px;
    padding: 0 15px;
}
footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
footer ul li {
    display: inline;
}
footer ul li img {
    max-width: 100%;
    width: 10%;
}
/* FOOTER */

/* IMPRINT */
.imprint {
    background: #000000;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    padding: 25px 0;
    text-transform: uppercase;
}
.imprint ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.imprint ul li {
    display: inline-block;
    position: relative;
}
.imprint ul li a {
    color: #ffffff;
    display: block;
    margin: 0 10px 0 0;
}
/* IMPRINT */

/* MOBILE STYLES */
a.mobile-nav {
    display: none;
}

/* Small devices (tablets, 768px and up) */
@media (max-width: 468px) {
    #myDiv,
    #myDiv.stick {
        position: static;
    }
}
/* Medium devices (desktops, 992px and up) */
@media (max-width: 768px) {
    
}
/* MOBILE STYLES */